body {
    color: white;
    background-color: rgb(246, 6, 158);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    border-style: dotted;
    text-align: center;
}

h2 {
    text-align: center;
}


a{
    color: black;
    font-size: large;
    font-style: oblique;
    font-variant: small-caps;
    align-items: center;
}

img{
    width: 230px;
    height: 230px;
    border-style: double;
    border: 3px solid yellow ;
    margin-bottom: 20px;
}

.center{
    text-align: center;
}